body {
    background: #080806;
    color: #FFFDD0;
    background-image: url(/images/background_image);
}

a {
    color:#fffffe;
}

a:hover {
    color:#2cb67d
}

header {
    display: flex;
    align-items:center
}

header img {
    width: 150px;
    margin: 8px;
}

h1 {
    text-align: center;
    size: 10em;
    color: #B78B62;
    margin: 16px;
    
}

h2 {
    color:#B78B62;
}

nav {
    margin: 10 auto;
    width: 100%;
    background: #226F54;
    border: 5px solid black;
    border-radius: 10px;
    /* display: flex;
    /* justify-content: space-evenly; */
    box-sizing: border-box;
    overflow:auto;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    /* display: flex;
    align-items: center; */
    float:left;
    padding:12px;
    box-sizing: border-box;
    width:25%;
    text-align: center;
}
nav a:hover {
    background: #FFFDD0;
    color:#226F54;
}

nav a.active {
    background: #B78B62;
    color:#080806;
}

#wrapper {
    background: #080806;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

main {
    background: #080806;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: stretch;
}

section {
    border: 3px solid #226F54;
    border-radius: 5px;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    margin: 15px;
    padding: 1.5em;
}

section img {
    width: 200px;
    margin: auto;
}



footer {
    width: 100%;
    background: #080806;
    border-top: 4px solid #226F54;
}

footer form {
    background-color: #16161a;
    width: 15%;
    height: 300px;
    color: #FFFDD0;
    padding:10px;
    border: 3px solid #B78B62;
    box-sizing: border-box;
    align-content: baseline;
    position:fixed;
    bottom:0;
    right:0;
}